@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

html {
    height: 100%;
}

body {
    background: #007799 url('../img/background.jpg') top right;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}

.wrap {
    margin: 0 auto;
    display: block;
    padding: 5% 0;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    max-width: 80%;
}

.logo {
    max-width: 50%;
    margin: 0 auto;
    display: block;
}

.wrap .row {
    margin-bottom: 20px;
}

h1 {
    font-size: 3.3em;
    font-family: 'Dancing Script', 'Calibri', sans-serif;
    margin-bottom: 20px;
}

.panel-body {
    padding: 20px 15px;
}

.form {
    margin-top: 20px;
    color: #08476c;
}

.form-group.has-feedback.no-feedback .glyphicon.glyphicon-ok.form-control-feedback{
    display: none;
}

.form-group {
    margin-bottom: 0;
}

.btn-primary {
    background-image: -webkit-linear-gradient(top, #08476c 0, #222955 100%);
    background-image: -o-linear-gradient(top, #08476c 0, #222955 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#08476c),to(#222955));
    background-image: linear-gradient(to bottom, #08476c 0, #222955 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff08476c', endColorstr='#ff222955', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
    font-size: 1.1em;
    height: 46px;
    width: 100%;
}

.btn-primary:focus,
.btn-primary:hover {
    background: #08476c;
}

.btn-primary.active,
.btn-primary:active {
    background: #222955;
}

.form-control-feedback {
    right: 15px;
}

#formStatus {
    clear: both;
    padding: 20px 0 0 0;
    display: none;
    position: relative;
    margin: 0;
    font-size: 1.4em;
}

#formStatus .glyphicon {
    margin-right: 12px;
}

#formStatus.ok,
#formStatus.loading {
    color: #08476c;
    display: block;
}

#formStatus.error {
    color: #B00;
    display: block;
}

#formStatus.ok .glyphicon:before {
    content: "\e013";
}

#formStatus.loading .glyphicon:before {
    display: none;
}

#formStatus.error .glyphicon:before {
    content: "\e014";
}

@media (max-width: 768px) {
    body {
        background: #08476c;
    }

    .wrap {
        padding: 30px 20px 0 20px;
        width: 80%;
        margin: 0 auto;
    }

    .logo {
        max-width: 75%;
    }

    .form .form-group {
        margin-bottom: 20px;
    }
}